@font-face {
	font-family: Gilroy-Bold;
	src: url("./fonts/Gilroy-Bold.woff2");
}
@font-face {
	font-family: Gilroy-Medium;
	src: url("./fonts/Gilroy-Medium.woff2");
}
@font-face {
	font-family: Gilroy-Regular;
	src: url("./fonts/Gilroy-Regular.woff2");
}
@font-face {
	font-family: Gilroy-Semibold;
	src: url("./fonts/Gilroy-Semibold.woff2");
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body {
	scroll-behavior: smooth;
	background: rgb(255, 255, 255);
}
img {
	display: block;
	max-width: 100%;
}
.container {
	max-width: 1174px;
	margin: 0 auto;
}
.header {
	padding: 40px 0;
	margin-bottom: 44px;
}
.home {
	font-family: Gilroy-Bold;
	color: rgb(242, 88, 34);
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
}
.navigation {
	display: flex;
	justify-content: space-between;
}
.right_nav {
	width: 533px;
	display: flex;
	justify-content: space-between;
	gap: 14px;
}
.aboutHome {
	font-family: Gilroy-Regular;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.mainContent {
	display: flex;
	margin-bottom: 197px;
}
.main_img {
	min-width: 545;
	min-height: 375;
}

.mainContentLeftSide h1 {
	font-family: "Gilroy-Bold";
	color: rgb(0, 0, 0);
	font-size: 60px;
	line-height: 120%;
	margin-bottom: 20px;
}
.mainContentLeftSide p {
	min-width: 545px;
	font-family: "Gilroy-Regular";
	color: rgb(136, 136, 136);
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 32px;
}
.mainContetnBtnList {
	display: flex;
	justify-content: left;
}

.btnStart {
	font-family: "Gilroy-Bold";
	color: #fff;
	padding: 16px 31px;
	border-radius: 100px;
	background: #f25822;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.btnWatch {
	font-family: "Gilroy-Bold";
	color: rgb(170, 170, 170);
	padding: 16px 31px;
	font-style: 16px;
	background: none;
	border: none;
	cursor: pointer;
}
.logos {
	display: flex;
	justify-content: space-between;
	gap: 48px;
	margin-bottom: 100px;
}
.infoFeatures {
	margin-bottom: 140px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}
.featuresLog {
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: flex-start;
	text-align: center;
}
.featuresLog h2 {
	color: rgb(0, 0, 0);
	font-family: "Gilroy-Bold";
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	text-align: left;
}
.featuresLog p {
	color: rgb(102, 102, 102);
	font-family: "Gilroy-Regular";
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	text-align: left;
}
.featuresLog h5 {
	color: rgb(0, 0, 0);
	font-family: "Gilroy-Bold";
	font-size: 14px;
	font-weight: 600;
	line-height: 150%;
	text-align: left;
}
.secondlog {
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	background: rgb(255, 255, 255);
}
.services {
	background: rgb(250, 250, 250);
	min-height: 916px;
	display: flex;
	justify-content: center;
}
.servicesText {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.servicesText h1 {
	color: rgb(0, 0, 0);
	font-family: "Gilroy-Bold";
	font-size: 48px;
	font-weight: 700;
	line-height: 120%;
	text-align: center;
	padding-top: 100px;
}
.servicesText p {
	width: 740px;
	color: rgb(136, 136, 136);
	font-family: "Gilroy-Regular";
	font-size: 16px;
	font-weight: 400;
	line-height: 140%;
	text-align: center;
	padding-top: 20px;
}
.servicesContent {
	margin-bottom: 140px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.blockInfo {
	margin-top: 48px;
	display: flex;
	flex-direction: column;
	/* gap: 30px; */
	align-items: center;
	text-align: center;
	background: rgb(255, 255, 255);
}
.blockInfo h1 {
	color: rgb(0, 0, 0);
	font-family: "Gilroy-Bold";
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: 0%;
	text-align: center;
	margin-top: 32px;
}
.blockInfo p {
	color: rgb(102, 102, 102);
	font-family: "Gilroy-Regular";
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0%;
	text-align: center;
	margin-top: 16px;
}
.blockInfo button {
	color: rgb(255, 255, 255);
	font-family: "Gilroy-Bold";
	font-size: 16px;
	line-height: 150%;
	border-radius: 56px;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
	background: rgb(242, 88, 34);
	padding: 16px 32px;
	margin: 24px 0px;
	border: none;
	cursor: pointer;
	margin-top: 24px;
}
.secondBlock {
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	background: rgb(255, 255, 255);
}
